<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-10">
    <%= render 'layouts/path'%>
  </div>
</div>
<hr>
<%= render 'layouts/config_menu'%>
<% unless @histories.nil? %>
  <% @histories.each do |history|%>

  <div class="flex flex-column lh-copy">
    <div class="f5">
      <span class="b"><%= history['username']%></span>
    </div>

    <div class="f5 gray">
      <time id="ember1630" title="2018-07-19 03:53:34 UTC" datetime="2018-07-19T03:53:34Z" class="timeago ember-view"><%= history['created_at']%>
  </time>
        from v<%= history['predecessor_version']%>
        to v<%= history['successor_version']%>
    </div>
    <%= history['created']%>
    <%= history['changed']%>
    <%= history['deleted']%>
    <%= form_tag 'rollback' do  %>
      <%= hidden_field_tag 'version', history['successor_version'] %>
      <%= submit_tag "rollback" , class: "btn btn-primary"%>
    <% end %>
  </div>
  <% end %>
  <% else %>
  <h3>You don't have any history</h3>
<% end %>
