<script>
  var tr_idx = 7
</script>
<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-12">
    <%= render 'layouts/path'%>
  </div>
</div>
<hr>

<table class="app-info">
  <tr>
    <td>Application</td>
    <td><%= params[:app_name] %></td>
  </tr>
    <td>Namespace</td>
    <td><%= params[:namespace_name] %></td>
  <tr>
    <td>Version </td>
    <td><%= @active_version %></td>
  </tr>
</table>


<form method="post" action=".">
  <input type="hidden" name="app" value="<%= params[:app_name] %>">
  <input type="hidden" name="namespace" value="<%= params[:namespace_name] %>">
  <table class="edit-configs" id="edit-configs">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <% unless @configurations.nil?%>
    <% @configurations.each_with_index do |config, index| %>
      <tr id="field-<%= index %>">
        <td><input type="text" name="key-<%= index %>" value="<%= config['key'] %>"></td>
        <td><input type="text" name="value-<%= index %>" value="<%= config['value'] %>"></td>
        <td class="del-span"><button type="button" id="btn-field-<%= index %>" class="btn btn-danger del-btn"><i class="glyphicon glyphicon-trash"></i></button></td>
      </tr>
    <% end %>
    <% end %>
  </table>
  <div class="row">
    <div class="col-md-5">
    </div>
    <div class="col-md-2">
      <button type="button" class="btn btn-primary add-cfg-btn"><i class="glyphicon glyphicon-plus"></i>&nbsp;Add</button>
    </div>
  </div>
  <div class="row">
    <div class="col-md-1">
      <input type="submit" class="btn btn-success" value="Commit">
    </div>
    <div class="col-2">
      <%= link_to "Cancel", configurations_path(params[:app_name],params[:namespace_name]), class: "btn btn-danger" %>
    </div>
  </div>
</form>
