<%= render 'layouts/navbar'%>
<div class="row">
  <div class="col-10">
    <%= render 'layouts/path'%>
  </div>
  <div class="col-2">
    <%= link_to "Edit Config",edit_configuration_path(params[:app_name],params[:namespace_name]), class: "btn btn-primary" %>
  </div>
</div>
<hr>
<table class="app-info">
  <tr>
    <td>Application</td>
    <td><%= params[:app_name] %></td>
  </tr>
    <td>Namespace</td>
    <td><%= params[:namespace_name] %></td>
  <tr>
    <td>Version </td>
    <td><%= @active_version %></td>
  </tr>
</table>

<% unless @configurations.nil?%>
  <table class="configs">
    <tr>
      <th>Key</th>
      <th>Value</th>
    </tr>
    <% @configurations.each do |config| %>
      <tr>
        <td><%= config['key'] %></td>
        <td><%= config['value'] %></td>
      </tr>
    <% end %>
  </table>
  <% else %>
  <h4 class="text-center text-danger">You don't have any config. Let's create one</h4>
<% end %>
